.tasklist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 2px solid rgba(0,0,0,0.1);
    padding: 30px;
}
.todohead{
    margin-bottom: 10px;
 
   
}
.tasklist ul{
    list-style: none;
    width: 70%;
}

.tasklist ul li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 14px;
    font-weight: bolder;
    transition: .4s;
    user-select: none;
    margin-top: 10px;
}
.tasklist ul li .isComplete{
    visibility: visible;
    color: rgb(233, 24, 24);
    margin-right: 10px;
}

.tasklist ul li .checkicon{
    visibility: hidden;
    margin-right: 10px;
}

.tasklist ul li p.taskcomplete{
    text-decoration: line-through;
}
.tasklist ul li p{
    width: 50vw;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.tasklist ul li .edit, .tasklist ul li .close{
    margin-left: 10px;
}

.tasklist ul li .edit:hover{
    background-color: rgb(7,94,233);
    color: #fff;
}

.tasklist ul li .close:hover{
    background-color: rgb(252, 184, 184);
    color: #fff;
}

.tasklist ul li:nth-child(odd){
    background-color: #ebadad;
}
.tasklist ul li:nth-child(even){
    background-color: #a3f754;
}
.tasklist ul li:hover{
    background-color: #ddd;
    cursor: pointer;
}

@media (max-width: 768px) {
    .tasklist ul {
        width: 90%;
    }

    .tasklist ul li {
        font-size: 17px;
        flex-direction: row;
        
    }

    .tasklist ul li:hover {
        background-color: none;
    }

    .tasklist ul li p {
        width:40vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
    }

   

    .tasklist ul li .edit, .tasklist ul li .close {
        margin-left: 5px;
        font-size: 22px;
    }
}